$base-accent: #18b5c2;
$base-font-family: "Roboto", "RobotoFallback", "Noto Kufi Arabic", "Helvetica", "Arial", sans-serif;
$base-text-color: #202020;
$base-label-color: #202020;
$base-icon-color: rgba(32, 32, 32, 0.54);
$base-spin-icon-color: rgba(32, 32, 32, 0.54);
$base-bg: #fff;
$base-border-color: #e0e0e0;
$base-success: #0ed8eb;
$base-warning: #ffc107;
$base-danger: #f44270;
$base-hover-color: #202020;
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: rgba(0, 0, 0, 0.04);
$base-link-color: #18b5c2;
$base-border-radius: 4px;
$button-normal-color: #202020;
$button-normal-bg: #fff;
$button-normal-hover-bg: #ebebeb;
$button-normal-focused-bg: #ebebeb;
$button-normal-active-bg: #b3b3b3;
$button-default-color: #fff;
$button-default-bg: #18b5c2;
$button-default-hover-bg: #13919b;
$button-default-focused-bg: #13919b;
$button-default-active-bg: #0d6269;
$button-danger-color: #fff;
$button-danger-bg: #f44270;
$button-danger-hover-bg: #f21951;
$button-danger-focused-bg: #f21951;
$button-danger-active-bg: #c70c3c;
$button-success-color: #fff;
$button-success-bg: #0ed8eb;
$button-success-hover-bg: #0cb2c2;
$button-success-focused-bg: #0cb2c2;
$button-success-active-bg: #08828d;
$list-group-color: #202020;
$list-border-color: #e0e0e0;
$list-group-header-bg: rgba(255, 255, 255, 0);
$list-normal-color: #202020;
$list-expanded-group-color: #18b5c2;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-selected-bg: rgba(0, 0, 0, 0.12);
$list-item-active-bg: #cccccc;
$fieldset-field-label-color: #959595;
$button-group-normal-selected-color: #202020;
$button-group-normal-selected-bg: rgba(0, 0, 0, 0.18);
$button-group-default-selected-color: #18b5c2;
$button-group-default-selected-bg: rgba(24, 181, 194, 0.22);
$button-group-danger-selected-color: #f44270;
$button-group-danger-selected-bg: rgba(244, 66, 112, 0.22);
$button-group-success-selected-color: #0ed8eb;
$button-group-success-selected-bg: rgba(14, 216, 235, 0.22);
$scrollable-scroll-bg: rgba(191, 191, 191, 0.7);
$switch-bg: #9e9e9e;
$switch-handle-off-bg: #fafafa;
$switch-on-bg: rgba(24, 181, 194, 0.5);
$switch-handle-on-bg: #18b5c2;
$tabs-tab-color: rgba(32, 32, 32, 0.54);
$tabs-tab-selected-color: #18b5c2;
$tabs-selected-tab-bottom-border-color: #18b5c2;
$tabs-tab-bg: #f7f7f7;
$tabs-hovered-tab-bg-color: #ededed;
$badge-color: #fff;
$badge-bg: #18b5c2;
$navbar-tab-color: #202020;
$navbar-tab-selected-color: #202020;
$navbar-tab-bg: #f7f7f7;
$navbar-tab-selected-bg: #fff;
$overlay-content-bg: #fff;
$overlay-shader-bg: rgba(0, 0, 0, 0.32);
$textbox-search-icon-color: rgba(32, 32, 32, 0.54);
$texteditor-color: #202020;
$texteditor-placeholder-color: #b4b4b4;
$texteditor-bg: rgba(32, 32, 32, 0.04);
$texteditor-focused-bg: rgba(32, 32, 32, 0.04);
$texteditor-border-color: rgba(32, 32, 32, 0.42);
$texteditor-hover-border-color: #202020;
$texteditor-focused-border-color: #18b5c2;
$texteditor-hover-bg: rgba(32, 32, 32, 0.07);
$dropdowneditor-icon-active-color: rgba(32, 32, 32, 0.54);
$calendar-header-color: #868686;
$calendar-cell-other-color: #9d9d9d;
$calendar-cell-selected-bg: #18b5c2;
$calendar-shevron-icon-color: #18b5c2;
$load-indicator-segment-bg-color: #18b5c2;
$treeview-focused-bg: rgba(0, 0, 0, 0.04);
$menu-color: #959595;
$menu-item-selected-bg: white;
$selectbox-list-bg: #fff;
$toolbar-bg: #fff;
$popup-title-bg: transparent;
$tileview-color: #202020;
$toast-color: rgba(255, 255, 255, 0.87);
$toast-info-bg: rgba(0, 0, 0, 0.87);
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44270;
$toast-success-bg: #0ed8eb;
$progressbar-bg: rgba(24, 181, 194, 0.3);
$progressbar-range-bg: #18b5c2;
$progressbar-label-color: #18b5c2;
$tooltip-color: #fff;
$tooltip-bg: #616161;
$material-slider-bar-bg: rgba(24, 181, 194, 0.24);
$material-slider-bg: #18b5c2;
$material-slider-tooltip-color: #fff;
$gallery-indicator-bg: #fff;
$gallery-indicator-item-selected-bg: #18b5c2;
$gallery-indicator-focused-bg: #18b5c2;
$gallery-navbutton-hover-color: #18b5c2;
$gallery-navbutton-active-color: #18b5c2;
$loadpanel-content-bg: #fff;
$tagbox-tag-color: rgba(32, 32, 32, 0.6);
$tagbox-tag-bg: #e0e0e0;
$tagbox-tag-active-color: #202020;
$tagbox-tag-button-remove-bg: rgba(0, 0, 0, 0.36);
$accordion-title-color: #202020;
$accordion-item-border-color: #e0e0e0;
$accordion-icon-active-color: #202020;
$colorbox-overlay-bg: #fff;
$datagrid-columnchooser-item-color: rgba(32, 32, 32, 0.54);
$datagrid-columnchooser-font-weight: 500;
$datagrid-drag-header-border-color: rgba(24, 181, 194, 0.5);
$datagrid-selection-bg: rgba(24, 181, 194, 0.04);
$datagrid-row-selected-border-color: #e0e0e0;
$datagrid-row-selected-color: #202020;
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #46c4ce;
$datagrid-menu-icon-color: rgba(118, 118, 118, 0.54);
$datagrid-cell-modified-border-color: rgba(14, 216, 235, 0.32);
$datagrid-row-invalid-faded-border-color: rgba(244, 66, 112, 0.32);
$datagrid-group-row-color: rgba(32, 32, 32, 0.54);
$datagrid-group-row-bg: white;
$datagrid-search-color: #fff;
$datagrid-search-bg: #18b5c2;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #f88ea9;
$datagrid-focused-border-color: #46c4ce;
$datagrid-editor-bg: rgba(255, 255, 255, 0);
$datagrid-row-alternation-bg: whitesmoke;
$datagrid-summary-color: rgba(32, 32, 32, 0.7);
$pager-page-selected-color: #fff;
$pager-page-selected-bg: #18b5c2;
$pivotgrid-area-color: rgba(32, 32, 32, 0.54);
$pivotgrid-totalcolor: rgba(221, 221, 221, 0.2);
$pivotgrid-grandtotalcolor: rgba(0, 0, 0, 0.04);
$pivotgrid-field-area-text-color: rgba(0, 0, 0, 0.3);
$fileuploader-filename-color: #202020;
$fileuploader-falename-status-color: #868686;
$fileuploader-border-color: #e0e0e0;
$scheduler-base-border-color: #e0e0e0;
$scheduler-accent-border-color: #e0e0e0;
$scheduler-appointment-text-color: #fff;
$scheduler-appointment-base-color: #18b5c2;
$scheduler-appointment-start-color: rgba(0, 0, 0, 0.3);
$scheduler-workspace-focused-cell-color: rgba(24, 181, 194, 0.12);
$scheduler-first-month-border-color: #e0e0e0;
$scheduler-current-time-cell-color: #18b5c2;
$form-field-item-color: rgba(32, 32, 32, 0.6);
$form-group-border-color: #e0e0e0;
$filterbuilder-text-color: #202020;
$filterbuilder-text-focus-color: #fff;
$filterbuilder-plus-icon-color: rgba(14, 216, 235, 0.7);
$filterbuilder-remove-icon-color: rgba(244, 66, 112, 0.7);
$filterbuilder-group-operation-color: rgba(244, 66, 112, 0.3);
$filterbuilder-item-field-color: rgba(24, 181, 194, 0.3);
$filterbuilder-item-operator-color: rgba(14, 216, 235, 0.3);
$filterbuilder-item-value-color: rgba(224, 224, 224, 0.5);
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
