$phones: 650px;
$tablets: 900px;
$desktops: 1200px;
$large-desktops: 1500px;

$bg-color: #efefed;

$body-background-color: #F4F4F4;
$content-background-color: #FEFEFE;

$main-text-color: #202020;
$second-text-color: #4D4D4D;
$gray-text-color: #BBBBBB;
$nav-divider-color: #A7A7A7;

$card-backgroud-blue-color: #EBEEF6;

$main-link-color: #18B5C2;
$second-link-color: #F44270;

$main-button-color: #1165C7;
$bluest-color: #05346b;

$user-card-background-color: #F7F9FC;